services:
  frontend:
    build: ./frontend 
    container_name: app_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - public_net

  backend:
    build: ./backend 
    container_name: app_backend
    environment:
      DB_HOST: db 
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    depends_on:
      db:
        condition: service_healthy 
    ports:
      - "3000:3000"
    networks:
      - public_net 
      - private_net

  db:
    image: mariadb:11
    container_name: app_db 
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASS}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASS}
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro 
    networks:
      - private_net 
    
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-u${DB_USER}", "-p${DB_PASS}"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  db_data:

networks:
  public_net:
    driver: bridge
  private_net:
    driver: bridge 
    internal: true


